<b><h1><center>Web-Scraping Kijiji Ads</b></h1>

Collecting data from kijiji ads about the following car:<br>

<b>Maker:</b> Toyota<br>
<b>Model:</b> RAV4<br>
<b>Location:</b> Ontario<br>

In [1]:
#import necessary libraries
import requests
import time
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
#base URL for kijiji website
base_url = "https://www.kijiji.ca"

#url for the first page search (Toyota rav4 in Ontario)
page_url = base_url + "/b-cars-trucks/ontario/toyota-rav4/c174l9004a54a1000054"

In [3]:
#get links from ads list
ads_links = []
response = requests.get(page_url)
soup = BeautifulSoup(response.text, 'lxml')
ads = soup.find_all("div", attrs={"class": ["search-item showcase top-feature", "search-item showcase regular-ad", "search-item top-feature", "search-item regular-ad"]})
for ad in ads:
    ads_links.append(base_url + ad["data-vip-url"])
    
while soup.find_all("a", attrs={'title': 'Next'}):
    next = soup.find_all("a", attrs={"title": "Next"})
    for page in next:
        page_url = base_url + page['href']
    response = requests.get(page_url)
    soup = BeautifulSoup(response.text, 'lxml')
    ads = soup.find_all("div", attrs={"class": ["search-item showcase top-feature", "search-item showcase regular-ad", "search-item top-feature", "search-item regular-ad"]})
    for ad in ads:
        ads_links.append(base_url + ad["data-vip-url"])
    print("Links from " + page_url + " added successfully!")

print(len(ads_links))

Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-2/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-3/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-4/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-5/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-6/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-7/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-8/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-9/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-10/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-11/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-12/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-13/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-14/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-15/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-16/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-17/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-18/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-19/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-20/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-21/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-22/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-23/c174l9004a54a1000054 added successfully!
Links from https://www.kijiji.ca/b-cars-trucks/ontario/toyota-rav4/page-24/c174l9004a54a1000054 added successfully!
1044

In [4]:
#create a dataframe to store our results
df = pd.DataFrame(columns=["title", "price", "condition", "year", "trim", "colour", "transmission", "drivetrain", "fuel", "kilometers", "postal_code", "date_posted", "url"])

In [63]:
#create a dataframe to store our results

df = pd.DataFrame(columns=["title", "price", "condition", "year", "trim", "colour", "transmission", "drivetrain", "fuel", "kilometers", "postal_code", "date_posted", "url"])

#lopping to feed the dataframe
for i, ad in enumerate(ads_links):
    
    time.sleep(1.5)
    response = requests.get(ad)
    soup = BeautifulSoup(response.text, 'lxml')
    
    #get title
    try:
        title = soup.find("h1").text
    except AttributeError:
        title = ""
    
    #get price
    try:
        price = soup.find("span", attrs={'itemprop': 'price'})['content']
    except AttributeError:
        price = ""
    except TypeError:        
        price = ""
        pass
    
    #get condition
    try:
        condition = soup.find("dd", attrs={'itemprop': 'itemCondition'}).text
    except AttributeError:
        condition = ""
    
    #get year
    try:
        year = soup.find("dd", attrs={'itemprop': 'vehicleModelDate'}).text
    except AttributeError:
        year = ""
    
    #get trim
    try:
        trim = soup.find("dd", attrs={'itemprop': 'vehicleConfiguration'}).text
    except AttributeError:
        trim = ""
        
    #get colour
    try:
        colour = soup.find("dd", attrs={'itemprop': 'color'}).text
    except AttributeError:
        colour = ""
    
    #get transmission
    try:
        transmission = soup.find("dd", attrs={'itemprop': 'vehicleTransmission'}).text
    except AttributeError:
        transmission = ""
    
    #get drivetrain
    try:
        drivetrain = soup.find("dd", attrs={'itemprop': 'driveWheelConfiguration'}).text
    except AttributeError:
        drivetrain = ""
    
    #get fuel
    try:
        fuel = soup.find("dd", attrs={'itemprop': 'fuelType'}).text
    except AttributeError:
        fuel = ""
    
    #get kilometers
    try:
        km = soup.find("dd", attrs={'itemprop': 'mileageFromOdometer'}).text
    except AttributeError:
        km = ""
        
    #get postal code
    try:
        postal_code = soup.find("span", attrs={'itemprop': 'address'}).text[-7:]
    except AttributeError:
        postal_code = ""
    
    #get date posted
    try:
        date = soup.find("div", attrs={'itemprop': 'datePosted'})['content']
    except AttributeError:
        date = ""
    except TypeError:
        date = ""
        pass
    
    df = df.append({
        "title": title,
        "price": price,
        "condition": condition,
        "year": year,
        "trim": trim,
        "colour": colour,
        "transmission": transmission,
        "drivetrain": drivetrain,
        "fuel": fuel,
        "kilometers": km,
        "postal_code": postal_code,
        "date_posted": date,
        "url": ad},
        ignore_index=True
    )
    
    print("Ad number " + str(i) + " added successfuly in Dataframe.")

Ad number 0 added successfuly in Dataframe.
Ad number 1 added successfuly in Dataframe.
Ad number 2 added successfuly in Dataframe.
Ad number 3 added successfuly in Dataframe.
Ad number 4 added successfuly in Dataframe.
Ad number 5 added successfuly in Dataframe.
Ad number 6 added successfuly in Dataframe.
Ad number 7 added successfuly in Dataframe.
Ad number 8 added successfuly in Dataframe.
Ad number 9 added successfuly in Dataframe.
Ad number 10 added successfuly in Dataframe.
Ad number 11 added successfuly in Dataframe.
Ad number 12 added successfuly in Dataframe.
Ad number 13 added successfuly in Dataframe.
Ad number 14 added successfuly in Dataframe.
Ad number 15 added successfuly in Dataframe.
Ad number 16 added successfuly in Dataframe.
Ad number 17 added successfuly in Dataframe.
Ad number 18 added successfuly in Dataframe.
Ad number 19 added successfuly in Dataframe.
Ad number 20 added successfuly in Dataframe.
Ad number 21 added successfuly in Dataframe.
Ad number 22 added successfuly in Dataframe.
Ad number 23 added successfuly in Dataframe.
Ad number 24 added successfuly in Dataframe.
Ad number 25 added successfuly in Dataframe.
Ad number 26 added successfuly in Dataframe.
Ad number 27 added successfuly in Dataframe.
Ad number 28 added successfuly in Dataframe.
Ad number 29 added successfuly in Dataframe.
Ad number 30 added successfuly in Dataframe.
Ad number 31 added successfuly in Dataframe.
Ad number 32 added successfuly in Dataframe.
Ad number 33 added successfuly in Dataframe.
Ad number 34 added successfuly in Dataframe.
Ad number 35 added successfuly in Dataframe.
Ad number 36 added successfuly in Dataframe.
Ad number 37 added successfuly in Dataframe.
Ad number 38 added successfuly in Dataframe.
Ad number 39 added successfuly in Dataframe.
Ad number 40 added successfuly in Dataframe.
Ad number 41 added successfuly in Dataframe.
Ad number 42 added successfuly in Dataframe.
Ad number 43 added successfuly in Dataframe.
Ad number 44 added successfuly in Dataframe.
Ad number 45 added successfuly in Dataframe.
Ad number 46 added successfuly in Dataframe.
Ad number 47 added successfuly in Dataframe.
Ad number 48 added successfuly in Dataframe.
Ad number 49 added successfuly in Dataframe.
Ad number 50 added successfuly in Dataframe.
Ad number 51 added successfuly in Dataframe.
Ad number 52 added successfuly in Dataframe.
Ad number 53 added successfuly in Dataframe.
Ad number 54 added successfuly in Dataframe.
Ad number 55 added successfuly in Dataframe.
Ad number 56 added successfuly in Dataframe.
Ad number 57 added successfuly in Dataframe.
Ad number 58 added successfuly in Dataframe.
Ad number 59 added successfuly in Dataframe.
Ad number 60 added successfuly in Dataframe.
Ad number 61 added successfuly in Dataframe.
Ad number 62 added successfuly in Dataframe.
Ad number 63 added successfuly in Dataframe.
Ad number 64 added successfuly in Dataframe.
Ad number 65 added successfuly in Dataframe.
Ad number 66 added successfuly in Dataframe.
Ad number 67 added successfuly in Dataframe.
Ad number 68 added successfuly in Dataframe.
Ad number 69 added successfuly in Dataframe.
Ad number 70 added successfuly in Dataframe.
Ad number 71 added successfuly in Dataframe.
Ad number 72 added successfuly in Dataframe.
Ad number 73 added successfuly in Dataframe.
Ad number 74 added successfuly in Dataframe.
Ad number 75 added successfuly in Dataframe.
Ad number 76 added successfuly in Dataframe.
Ad number 77 added successfuly in Dataframe.
Ad number 78 added successfuly in Dataframe.
Ad number 79 added successfuly in Dataframe.
Ad number 80 added successfuly in Dataframe.
Ad number 81 added successfuly in Dataframe.
Ad number 82 added successfuly in Dataframe.
Ad number 83 added successfuly in Dataframe.
Ad number 84 added successfuly in Dataframe.
Ad number 85 added successfuly in Dataframe.
Ad number 86 added successfuly in Dataframe.
Ad number 87 added successfuly in Dataframe.
Ad number 88 added successfuly in Dataframe.
Ad number 89 added successfuly in Dataframe.
Ad number 90 added successfuly in Dataframe.
Ad number 91 added successfuly in Dataframe.
Ad number 92 added successfuly in Dataframe.
Ad number 93 added successfuly in Dataframe.
Ad number 94 added successfuly in Dataframe.
Ad number 95 added successfuly in Dataframe.
Ad number 96 added successfuly in Dataframe.
Ad number 97 added successfuly in Dataframe.
Ad number 98 added successfuly in Dataframe.
Ad number 99 added successfuly in Dataframe.
Ad number 100 added successfuly in Dataframe.
Ad number 101 added successfuly in Dataframe.
Ad number 102 added successfuly in Dataframe.
Ad number 103 added successfuly in Dataframe.
Ad number 104 added successfuly in Dataframe.
Ad number 105 added successfuly in Dataframe.
Ad number 106 added successfuly in Dataframe.
Ad number 107 added successfuly in Dataframe.
Ad number 108 added successfuly in Dataframe.
Ad number 109 added successfuly in Dataframe.
Ad number 110 added successfuly in Dataframe.
Ad number 111 added successfuly in Dataframe.
Ad number 112 added successfuly in Dataframe.
Ad number 113 added successfuly in Dataframe.
Ad number 114 added successfuly in Dataframe.
Ad number 115 added successfuly in Dataframe.
Ad number 116 added successfuly in Dataframe.
Ad number 117 added successfuly in Dataframe.
Ad number 118 added successfuly in Dataframe.
Ad number 119 added successfuly in Dataframe.
Ad number 120 added successfuly in Dataframe.
Ad number 121 added successfuly in Dataframe.
Ad number 122 added successfuly in Dataframe.
Ad number 123 added successfuly in Dataframe.
Ad number 124 added successfuly in Dataframe.
Ad number 125 added successfuly in Dataframe.
Ad number 126 added successfuly in Dataframe.
Ad number 127 added successfuly in Dataframe.
Ad number 128 added successfuly in Dataframe.
Ad number 129 added successfuly in Dataframe.
Ad number 130 added successfuly in Dataframe.
Ad number 131 added successfuly in Dataframe.
Ad number 132 added successfuly in Dataframe.
Ad number 133 added successfuly in Dataframe.
Ad number 134 added successfuly in Dataframe.
Ad number 135 added successfuly in Dataframe.
Ad number 136 added successfuly in Dataframe.
Ad number 137 added successfuly in Dataframe.
Ad number 138 added successfuly in Dataframe.
Ad number 139 added successfuly in Dataframe.
Ad number 140 added successfuly in Dataframe.
Ad number 141 added successfuly in Dataframe.
Ad number 142 added successfuly in Dataframe.
Ad number 143 added successfuly in Dataframe.
Ad number 144 added successfuly in Dataframe.
Ad number 145 added successfuly in Dataframe.
Ad number 146 added successfuly in Dataframe.
Ad number 147 added successfuly in Dataframe.
Ad number 148 added successfuly in Dataframe.
Ad number 149 added successfuly in Dataframe.
Ad number 150 added successfuly in Dataframe.
Ad number 151 added successfuly in Dataframe.
Ad number 152 added successfuly in Dataframe.
Ad number 153 added successfuly in Dataframe.
Ad number 154 added successfuly in Dataframe.
Ad number 155 added successfuly in Dataframe.
Ad number 156 added successfuly in Dataframe.
Ad number 157 added successfuly in Dataframe.
Ad number 158 added successfuly in Dataframe.
Ad number 159 added successfuly in Dataframe.
Ad number 160 added successfuly in Dataframe.
Ad number 161 added successfuly in Dataframe.
Ad number 162 added successfuly in Dataframe.
Ad number 163 added successfuly in Dataframe.
Ad number 164 added successfuly in Dataframe.
Ad number 165 added successfuly in Dataframe.
Ad number 166 added successfuly in Dataframe.
Ad number 167 added successfuly in Dataframe.
Ad number 168 added successfuly in Dataframe.
Ad number 169 added successfuly in Dataframe.
Ad number 170 added successfuly in Dataframe.
Ad number 171 added successfuly in Dataframe.
Ad number 172 added successfuly in Dataframe.
Ad number 173 added successfuly in Dataframe.
Ad number 174 added successfuly in Dataframe.
Ad number 175 added successfuly in Dataframe.
Ad number 176 added successfuly in Dataframe.
Ad number 177 added successfuly in Dataframe.
Ad number 178 added successfuly in Dataframe.
Ad number 179 added successfuly in Dataframe.
Ad number 180 added successfuly in Dataframe.
Ad number 181 added successfuly in Dataframe.
Ad number 182 added successfuly in Dataframe.
Ad number 183 added successfuly in Dataframe.
Ad number 184 added successfuly in Dataframe.
Ad number 185 added successfuly in Dataframe.
Ad number 186 added successfuly in Dataframe.
Ad number 187 added successfuly in Dataframe.
Ad number 188 added successfuly in Dataframe.
Ad number 189 added successfuly in Dataframe.
Ad number 190 added successfuly in Dataframe.
Ad number 191 added successfuly in Dataframe.
Ad number 192 added successfuly in Dataframe.
Ad number 193 added successfuly in Dataframe.
Ad number 194 added successfuly in Dataframe.
Ad number 195 added successfuly in Dataframe.
Ad number 196 added successfuly in Dataframe.
Ad number 197 added successfuly in Dataframe.
Ad number 198 added successfuly in Dataframe.
Ad number 199 added successfuly in Dataframe.
Ad number 200 added successfuly in Dataframe.
Ad number 201 added successfuly in Dataframe.
Ad number 202 added successfuly in Dataframe.
Ad number 203 added successfuly in Dataframe.
Ad number 204 added successfuly in Dataframe.
Ad number 205 added successfuly in Dataframe.
Ad number 206 added successfuly in Dataframe.
Ad number 207 added successfuly in Dataframe.
Ad number 208 added successfuly in Dataframe.
Ad number 209 added successfuly in Dataframe.
Ad number 210 added successfuly in Dataframe.
Ad number 211 added successfuly in Dataframe.
Ad number 212 added successfuly in Dataframe.
Ad number 213 added successfuly in Dataframe.
Ad number 214 added successfuly in Dataframe.
Ad number 215 added successfuly in Dataframe.
Ad number 216 added successfuly in Dataframe.
Ad number 217 added successfuly in Dataframe.
Ad number 218 added successfuly in Dataframe.
Ad number 219 added successfuly in Dataframe.
Ad number 220 added successfuly in Dataframe.
Ad number 221 added successfuly in Dataframe.
Ad number 222 added successfuly in Dataframe.
Ad number 223 added successfuly in Dataframe.
Ad number 224 added successfuly in Dataframe.
Ad number 225 added successfuly in Dataframe.
Ad number 226 added successfuly in Dataframe.
Ad number 227 added successfuly in Dataframe.
Ad number 228 added successfuly in Dataframe.
Ad number 229 added successfuly in Dataframe.
Ad number 230 added successfuly in Dataframe.
Ad number 231 added successfuly in Dataframe.
Ad number 232 added successfuly in Dataframe.
Ad number 233 added successfuly in Dataframe.
Ad number 234 added successfuly in Dataframe.
Ad number 235 added successfuly in Dataframe.
Ad number 236 added successfuly in Dataframe.
Ad number 237 added successfuly in Dataframe.
Ad number 238 added successfuly in Dataframe.
Ad number 239 added successfuly in Dataframe.
Ad number 240 added successfuly in Dataframe.
Ad number 241 added successfuly in Dataframe.
Ad number 242 added successfuly in Dataframe.
Ad number 243 added successfuly in Dataframe.
Ad number 244 added successfuly in Dataframe.
Ad number 245 added successfuly in Dataframe.
Ad number 246 added successfuly in Dataframe.
Ad number 247 added successfuly in Dataframe.
Ad number 248 added successfuly in Dataframe.
Ad number 249 added successfuly in Dataframe.
Ad number 250 added successfuly in Dataframe.
Ad number 251 added successfuly in Dataframe.
Ad number 252 added successfuly in Dataframe.
Ad number 253 added successfuly in Dataframe.
Ad number 254 added successfuly in Dataframe.
Ad number 255 added successfuly in Dataframe.
Ad number 256 added successfuly in Dataframe.
Ad number 257 added successfuly in Dataframe.
Ad number 258 added successfuly in Dataframe.
Ad number 259 added successfuly in Dataframe.
Ad number 260 added successfuly in Dataframe.
Ad number 261 added successfuly in Dataframe.
Ad number 262 added successfuly in Dataframe.
Ad number 263 added successfuly in Dataframe.
Ad number 264 added successfuly in Dataframe.
Ad number 265 added successfuly in Dataframe.
Ad number 266 added successfuly in Dataframe.
Ad number 267 added successfuly in Dataframe.
Ad number 268 added successfuly in Dataframe.
Ad number 269 added successfuly in Dataframe.
Ad number 270 added successfuly in Dataframe.
Ad number 271 added successfuly in Dataframe.
Ad number 272 added successfuly in Dataframe.
Ad number 273 added successfuly in Dataframe.
Ad number 274 added successfuly in Dataframe.
Ad number 275 added successfuly in Dataframe.
Ad number 276 added successfuly in Dataframe.
Ad number 277 added successfuly in Dataframe.
Ad number 278 added successfuly in Dataframe.
Ad number 279 added successfuly in Dataframe.
Ad number 280 added successfuly in Dataframe.
Ad number 281 added successfuly in Dataframe.
Ad number 282 added successfuly in Dataframe.
Ad number 283 added successfuly in Dataframe.
Ad number 284 added successfuly in Dataframe.
Ad number 285 added successfuly in Dataframe.
Ad number 286 added successfuly in Dataframe.
Ad number 287 added successfuly in Dataframe.
Ad number 288 added successfuly in Dataframe.
Ad number 289 added successfuly in Dataframe.
Ad number 290 added successfuly in Dataframe.
Ad number 291 added successfuly in Dataframe.
Ad number 292 added successfuly in Dataframe.
Ad number 293 added successfuly in Dataframe.
Ad number 294 added successfuly in Dataframe.
Ad number 295 added successfuly in Dataframe.
Ad number 296 added successfuly in Dataframe.
Ad number 297 added successfuly in Dataframe.
Ad number 298 added successfuly in Dataframe.
Ad number 299 added successfuly in Dataframe.
Ad number 300 added successfuly in Dataframe.
Ad number 301 added successfuly in Dataframe.
Ad number 302 added successfuly in Dataframe.
Ad number 303 added successfuly in Dataframe.
Ad number 304 added successfuly in Dataframe.
Ad number 305 added successfuly in Dataframe.
Ad number 306 added successfuly in Dataframe.
Ad number 307 added successfuly in Dataframe.
Ad number 308 added successfuly in Dataframe.
Ad number 309 added successfuly in Dataframe.
Ad number 310 added successfuly in Dataframe.
Ad number 311 added successfuly in Dataframe.
Ad number 312 added successfuly in Dataframe.
Ad number 313 added successfuly in Dataframe.
Ad number 314 added successfuly in Dataframe.
Ad number 315 added successfuly in Dataframe.
Ad number 316 added successfuly in Dataframe.
Ad number 317 added successfuly in Dataframe.
Ad number 318 added successfuly in Dataframe.
Ad number 319 added successfuly in Dataframe.
Ad number 320 added successfuly in Dataframe.
Ad number 321 added successfuly in Dataframe.
Ad number 322 added successfuly in Dataframe.
Ad number 323 added successfuly in Dataframe.
Ad number 324 added successfuly in Dataframe.
Ad number 325 added successfuly in Dataframe.
Ad number 326 added successfuly in Dataframe.
Ad number 327 added successfuly in Dataframe.
Ad number 328 added successfuly in Dataframe.
Ad number 329 added successfuly in Dataframe.
Ad number 330 added successfuly in Dataframe.
Ad number 331 added successfuly in Dataframe.
Ad number 332 added successfuly in Dataframe.
Ad number 333 added successfuly in Dataframe.
Ad number 334 added successfuly in Dataframe.
Ad number 335 added successfuly in Dataframe.
Ad number 336 added successfuly in Dataframe.
Ad number 337 added successfuly in Dataframe.
Ad number 338 added successfuly in Dataframe.
Ad number 339 added successfuly in Dataframe.
Ad number 340 added successfuly in Dataframe.
Ad number 341 added successfuly in Dataframe.
Ad number 342 added successfuly in Dataframe.
Ad number 343 added successfuly in Dataframe.
Ad number 344 added successfuly in Dataframe.
Ad number 345 added successfuly in Dataframe.
Ad number 346 added successfuly in Dataframe.
Ad number 347 added successfuly in Dataframe.
Ad number 348 added successfuly in Dataframe.
Ad number 349 added successfuly in Dataframe.
Ad number 350 added successfuly in Dataframe.
Ad number 351 added successfuly in Dataframe.
Ad number 352 added successfuly in Dataframe.
Ad number 353 added successfuly in Dataframe.
Ad number 354 added successfuly in Dataframe.
Ad number 355 added successfuly in Dataframe.
Ad number 356 added successfuly in Dataframe.
Ad number 357 added successfuly in Dataframe.
Ad number 358 added successfuly in Dataframe.
Ad number 359 added successfuly in Dataframe.
Ad number 360 added successfuly in Dataframe.
Ad number 361 added successfuly in Dataframe.
Ad number 362 added successfuly in Dataframe.
Ad number 363 added successfuly in Dataframe.
Ad number 364 added successfuly in Dataframe.
Ad number 365 added successfuly in Dataframe.
Ad number 366 added successfuly in Dataframe.
Ad number 367 added successfuly in Dataframe.
Ad number 368 added successfuly in Dataframe.
Ad number 369 added successfuly in Dataframe.
Ad number 370 added successfuly in Dataframe.
Ad number 371 added successfuly in Dataframe.
Ad number 372 added successfuly in Dataframe.
Ad number 373 added successfuly in Dataframe.
Ad number 374 added successfuly in Dataframe.
Ad number 375 added successfuly in Dataframe.
Ad number 376 added successfuly in Dataframe.
Ad number 377 added successfuly in Dataframe.
Ad number 378 added successfuly in Dataframe.
Ad number 379 added successfuly in Dataframe.
Ad number 380 added successfuly in Dataframe.
Ad number 381 added successfuly in Dataframe.
Ad number 382 added successfuly in Dataframe.
Ad number 383 added successfuly in Dataframe.
Ad number 384 added successfuly in Dataframe.
Ad number 385 added successfuly in Dataframe.
Ad number 386 added successfuly in Dataframe.
Ad number 387 added successfuly in Dataframe.
Ad number 388 added successfuly in Dataframe.
Ad number 389 added successfuly in Dataframe.
Ad number 390 added successfuly in Dataframe.
Ad number 391 added successfuly in Dataframe.
Ad number 392 added successfuly in Dataframe.
Ad number 393 added successfuly in Dataframe.
Ad number 394 added successfuly in Dataframe.
Ad number 395 added successfuly in Dataframe.
Ad number 396 added successfuly in Dataframe.
Ad number 397 added successfuly in Dataframe.
Ad number 398 added successfuly in Dataframe.
Ad number 399 added successfuly in Dataframe.
Ad number 400 added successfuly in Dataframe.
Ad number 401 added successfuly in Dataframe.
Ad number 402 added successfuly in Dataframe.
Ad number 403 added successfuly in Dataframe.
Ad number 404 added successfuly in Dataframe.
Ad number 405 added successfuly in Dataframe.
Ad number 406 added successfuly in Dataframe.
Ad number 407 added successfuly in Dataframe.
Ad number 408 added successfuly in Dataframe.
Ad number 409 added successfuly in Dataframe.
Ad number 410 added successfuly in Dataframe.
Ad number 411 added successfuly in Dataframe.
Ad number 412 added successfuly in Dataframe.
Ad number 413 added successfuly in Dataframe.
Ad number 414 added successfuly in Dataframe.
Ad number 415 added successfuly in Dataframe.
Ad number 416 added successfuly in Dataframe.
Ad number 417 added successfuly in Dataframe.
Ad number 418 added successfuly in Dataframe.
Ad number 419 added successfuly in Dataframe.
Ad number 420 added successfuly in Dataframe.
Ad number 421 added successfuly in Dataframe.
Ad number 422 added successfuly in Dataframe.
Ad number 423 added successfuly in Dataframe.
Ad number 424 added successfuly in Dataframe.
Ad number 425 added successfuly in Dataframe.
Ad number 426 added successfuly in Dataframe.
Ad number 427 added successfuly in Dataframe.
Ad number 428 added successfuly in Dataframe.
Ad number 429 added successfuly in Dataframe.
Ad number 430 added successfuly in Dataframe.
Ad number 431 added successfuly in Dataframe.
Ad number 432 added successfuly in Dataframe.
Ad number 433 added successfuly in Dataframe.
Ad number 434 added successfuly in Dataframe.
Ad number 435 added successfuly in Dataframe.
Ad number 436 added successfuly in Dataframe.

In [64]:
df.head(50)

,title,price,condition,year,trim,colour,transmission,drivetrain,fuel,kilometers,postal_code,date_posted,url
0,2013 Toyota RAV4 XLE,15495.,Used,2013,XLE,White,Automatic,All-wheel drive (AWD),Gasoline,"220,000",N2B 3C9,2022-06-30,https://www.kijiji.ca/v-cars-trucks/kitchener-...
1,2020 Toyota RAV4 LE,31998.,Used,2020,LE,Grey,Automatic,Front-wheel drive (FWD),Other,"70,067",L8E 2W8,2022-07-18,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
2,2021 Toyota RAV4 Hybrid LE,52959.,Used,2021,LE,White,Automatic,All-wheel drive (AWD),Hybrid-Electric,"23,254",K2G 1E3,2022-07-03,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
3,2018 Toyota RAV4 LE,27900.,Used,2018,LE,Red,Automatic,All-wheel drive (AWD),Gasoline,"71,846",L9B 1K2,2022-05-05,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
4,2020 Toyota RAV4 XLE,41559.,Used,2020,XLE,Other,Automatic,All-wheel drive (AWD),Gasoline,"44,752",K2G 1E3,2022-04-04,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
5,Toyota Rav 4 2015,22000.,Used,2015,,White,Automatic,All-wheel drive (AWD),,"145,000",ON L6E,2022-07-25,https://www.kijiji.ca/v-cars-trucks/markham-yo...
6,2008 TOYOTA RAV4 V6 AWD CERTIFIED EXTRA SNOW T...,12990.,Used,2008,Base,Silver,Automatic,4 x 4,Gasoline,"132,000",L4Y 2B8,2022-07-25,https://www.kijiji.ca/v-cars-trucks/mississaug...
7,Toyota RAV4 Hybrid 2018 - Safety included,40250.,Used,2018,,White,,,,"87,500",ON N2T,2022-07-25,https://www.kijiji.ca/v-cars-trucks/kitchener-...
8,Toyota SUV,8400.,Used,2009,,,Automatic,,,"275,000",L5C2V3,2022-07-25,https://www.kijiji.ca/v-cars-trucks/mississaug...
9,2021 Toyota RAV4 Limited,44988.,Used,2021,Limited,White,Automatic,All-wheel drive (AWD),Gasoline,"35,360",L9B 1K2,2022-06-10,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
10,2018 Toyota RAV4 LE,23888.,Used,2018,LE,Grey,Automatic,Front-wheel drive (FWD),Gasoline,"124,902",L9B 1K2,2022-05-19,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
11,2017 TOYOTA RAV 4 SE CERTIFIED! WARRANTY INCL!...,27888.,Used,2017,SE,Grey,Automatic,All-wheel drive (AWD),Gasoline,"108,442",L4N 9W5,2022-07-25,https://www.kijiji.ca/v-cars-trucks/barrie/201...
12,2021 Toyota RAV4 Hybrid LE AWD / Heated Seats...,52444.,Used,2021,Hybrid LE AWD / Heated Seats / Blind-spot,Black,Automatic,All-wheel drive (AWD),Hybrid-Electric,"15,223",N0B 2J0,2022-07-18,https://www.kijiji.ca/v-cars-trucks/oakville-h...
13,2018 Toyota RAV4 Hybrid XLE AWD / Sunroof / H...,39999.,Used,2018,XLE AWD / Sunroof / Heated Seats & Steering Wheel,White,Automatic,All-wheel drive (AWD),Other,"72,018",N0B 2J0,2022-06-20,https://www.kijiji.ca/v-cars-trucks/oakville-h...
14,2020 Toyota RAV4 XLE HEATED STEERING WHEEL! HE...,35995.,Used,2020,XLE,Red,Automatic,Front-wheel drive (FWD),Gasoline,"31,545",P6B 5K7,2022-06-25,https://www.kijiji.ca/v-cars-trucks/sault-ste-...
15,2010 TOYOTA RAV 4,6295.,Used,2010,Sport,Blue,Automatic,4 x 4,Gasoline,"288,879",N3T 5M1,2022-07-25,https://www.kijiji.ca/v-cars-trucks/brantford/...
16,2017 Toyota RAV4 LE,19505.,Used,2017,LE,Grey,Automatic,All-wheel drive (AWD),Gasoline,"192,116",L6T 4A7,2022-07-15,https://www.kijiji.ca/v-cars-trucks/mississaug...
17,2019 Toyota RAV4 Trail,44888.,Used,2019,Trail,Black,Automatic,All-wheel drive (AWD),Gasoline,"53,491",K8V 5P6,2022-03-24,https://www.kijiji.ca/v-cars-trucks/trenton-on...
18,2014 Toyota RAV4,22800.,Used,2014,Limited,Other,Automatic,All-wheel drive (AWD),Gasoline,"151,131",M1P 2R5,2022-05-31,https://www.kijiji.ca/v-cars-trucks/city-of-to...
19,2018 Toyota RAV4,30995.,Used,2018,LE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"132,972",M1P 2R5,2022-04-04,https://www.kijiji.ca/v-cars-trucks/city-of-to...
20,2020 Toyota RAV4 LE | SAFETY CERTIFIED | CARPL...,35190.,Used,2020,LE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"34,075",L4E 3N7,2022-06-27,https://www.kijiji.ca/v-cars-trucks/markham-yo...
21,2017 Toyota RAV4 XLE BLUETOOTH | REVERSE CAMER...,27288.,Used,2017,XLE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"92,983",L3R 1G9,2022-06-27,https://www.kijiji.ca/v-cars-trucks/city-of-to...
22,2013 Toyota RAV4,17450.,Used,2013,Other,Silver,Automatic,Front-wheel drive (FWD),Gasoline,"177,511",M1L 1C3,2022-06-04,https://www.kijiji.ca/v-cars-trucks/city-of-to...
23,2014 Toyota RAV4 XLE,18888.,Used,2014,XLE,White,Automatic,All-wheel drive (AWD),Gasoline,"130,000",M6N 3P1,2022-07-25,https://www.kijiji.ca/v-cars-trucks/city-of-to...
24,2020 Toyota RAV4 LE,31998.,Used,2020,LE,Grey,Automatic,Front-wheel drive (FWD),Other,"70,067",L8E 2W8,2022-07-18,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
25,2018 Toyota RAV4 AWD LE,31900.,Used,2018,AWD LE,Other,Automatic,Other,Gasoline,"76,620",M8Z 1S4,2022-03-04,https://www.kijiji.ca/v-cars-trucks/city-of-to...
26,2019 Toyota RAV4 Hybrid LE,40888.,Used,2019,LE,Grey,Automatic,All-wheel drive (AWD),Hybrid-Electric,"29,512",L6X 1B1,2022-04-20,https://www.kijiji.ca/v-cars-trucks/mississaug...
27,2019 Toyota RAV4 LE,31998.,Used,2019,LE,Black,Automatic,All-wheel drive (AWD),Other,"60,291",L1C 3K7,2022-03-27,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
28,2018 Toyota RAV4 LE,33888.,Used,2018,LE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"59,111",K8A 7A5,2022-03-27,https://www.kijiji.ca/v-cars-trucks/pembroke/2...
29,2013 Toyota RAV4 Limited - certified low km’s,20500.,Used,2013,Limited,Grey,Automatic,All-wheel drive (AWD),Gasoline,"101,000",L6M3M2,2022-07-25,https://www.kijiji.ca/v-cars-trucks/oakville-h...
30,"2019 RAV 4 XLE - private sale - 44,000 kms",36900.,Used,2019,SLE,Burgundy,Automatic,,,"44,000",L0R1Y0,2022-07-25,https://www.kijiji.ca/v-cars-trucks/st-cathari...
31,2017 Toyota RAV4 LE AUT0 A/C H/SEATS L/DEPART...,20990.,Used,2017,LE AUT0 A/C H/SEATS L/DEPARTURE BACKUP CAMERA,Black,Automatic,Front-wheel drive (FWD),Gasoline,"133,398",M3J 2G4,2022-04-27,https://www.kijiji.ca/v-cars-trucks/city-of-to...
32,"2019 Toyota RAV4 XLE HYBIRD, Reverse Camera, H...",38795.,Used,2019,"XLE HYBIRD, Reverse Camera, Heated Seats, Blue...",Other,Automatic,Other,Hybrid-Electric,"129,870",L2G 0J6,2022-04-25,https://www.kijiji.ca/v-cars-trucks/st-cathari...
33,"2018 Toyota RAV4 LE AWD, Reverse Camera, Heate...",28788.,Used,2018,"LE AWD, Reverse Camera, Heated Seats & More!",White,Automatic,All-wheel drive (AWD),Gasoline,"102,000",N1H 6J4,2022-06-07,https://www.kijiji.ca/v-cars-trucks/guelph/201...
34,Toyota Rav4,10000.,Used,2011,Base,Grey,Automatic,4 x 4,Gasoline,"277,573",M3J 2Z3,2022-07-25,https://www.kijiji.ca/v-cars-trucks/city-of-to...
35,2017 Toyota RAV4 LE * Lane Departure Alert * ...,26995.,Used,2017,LE * Lane Departure Alert * Heated Cloth Seats...,White,Automatic,Front-wheel drive (FWD),Gasoline,"75,737",N3H 4R7,2022-05-05,https://www.kijiji.ca/v-cars-trucks/cambridge/...
36,2010 Toyota RAV4 Base,7900.,Used,2010,Base,Black,Automatic,4 x 4,Gasoline,"278,000",L1P 1Z1,2022-07-25,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
37,2020 Toyota RAV4 XLE,40188.,Used,2020,XLE,White,Automatic,All-wheel drive (AWD),Gasoline,"36,536",L3R 1G9,2022-07-25,https://www.kijiji.ca/v-cars-trucks/city-of-to...
38,2020 Toyota RAV4 XLE HEATED SEATS | SUNROOF | ...,39998.,Used,2020,XLE,Black,Automatic,All-wheel drive (AWD),Gasoline,"38,998",L3R 1G9,2022-07-22,https://www.kijiji.ca/v-cars-trucks/city-of-to...
39,2020 Toyota RAV4 Trail LEATHER | HEATED SEATS ...,44088.,Used,2020,Trail,Green,Automatic,All-wheel drive (AWD),Gasoline,"45,493",L3R 1G9,2022-07-08,https://www.kijiji.ca/v-cars-trucks/city-of-to...
40,2019 Toyota RAV4 XLE BLUETOOTH | REVERSE CAMER...,37188.,Used,2019,XLE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"40,150",L3R 1G9,2022-07-03,https://www.kijiji.ca/v-cars-trucks/city-of-to...
41,2010 Toyota RAV4 FWD,7800.,Used,2010,,Red,,Front-wheel drive (FWD),Gasoline,"252,700",M9L1V5,2022-07-25,https://www.kijiji.ca/v-cars-trucks/city-of-to...
42,2017 Toyota RAV4 XLE,28995.,Used,2017,XLE,White,Automatic,Front-wheel drive (FWD),Gasoline,"92,896",L7A 1A9,2022-04-01,https://www.kijiji.ca/v-cars-trucks/mississaug...
43,2017 Toyota RAV4 XLE,27995.,Used,2017,XLE,Black,Automatic,Front-wheel drive (FWD),Gasoline,"106,295",L7A 1A9,2022-03-31,https://www.kijiji.ca/v-cars-trucks/mississaug...
44,2019 Toyota RAV4 Limited AWD Navi 360 Camera L...,42980.,Used,2019,Limited AWD Navi 360 Camera Leather Sunroof,Other,Automatic,4 x 4,Other,"43,809",J8P 1G2,2022-04-27,https://www.kijiji.ca/v-cars-trucks/gatineau/2...
45,2020 Toyota RAV4 XLE,41995.,Used,2020,XLE,White,Automatic,All-wheel drive (AWD),Gasoline,"72,064",K1B 5P5,2022-04-01,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
46,2013 Toyota RAV4 Limited,18995.,Used,2013,Limited,Grey,Automatic,All-wheel drive (AWD),Gasoline,"175,000",N1R 3H3,2022-06-24,https://www.kijiji.ca/v-cars-trucks/cambridge/...
47,2020 Toyota RAV4 XLE,44559.,Used,2020,XLE,White,Automatic,All-wheel drive (AWD),Gasoline,"14,222",K2G 1E3,2022-07-01,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
48,2017 Toyota RAV4 XLE AUT0 A/C P/SUNROOF H/SEA...,24990.,Used,2017,XLE AUT0 A/C P/SUNROOF H/SEATS BACKUP CAMERA 73K,Purple,Automatic,Front-wheel drive (FWD),Gasoline,"73,902",M3J 2G4,2022-06-18,https://www.kijiji.ca/v-cars-trucks/city-of-to...
49,2020 Toyota RAV4 LE AWD,34888.,Used,2020,LE AWD,White,Automatic,All-wheel drive (AWD),Gasoline,"30,151",J8M 1Y7,2022-07-18,https://www.kijiji.ca/v-cars-trucks/gatineau/2...

In [65]:
df.tail(50)

,title,price,condition,year,trim,colour,transmission,drivetrain,fuel,kilometers,postal_code,date_posted,url
994,2006 Toyota RAV4 Limited,5499.,Used,2006,Limited,Red,Automatic,All-wheel drive (AWD),Gasoline,"217,600",L0K 1A0,2022-06-26,https://www.kijiji.ca/v-cars-trucks/kawartha-l...
995,2018 Toyota RAV4 LE/One Owner/Backup Camera/Bl...,,Used,2018,LE/One Owner/Backup Camera/Bluetooth/Heated Se...,White,Automatic,Other,Gasoline,"88,870",M3J 3H5,2022-06-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
996,2018 Toyota RAV4 Limited AWD ONE OWNER SAFETY ...,33599.,Used,2018,Limited,Black,Automatic,All-wheel drive (AWD),Gasoline,"96,441",L9Y 0A5,2022-06-26,https://www.kijiji.ca/v-cars-trucks/barrie/201...
997,2018 Toyota RAV4 LE*AllPwrOpti*HtdSeats*Camer...,24880.,Used,2018,LE*AllPwrOpti*HtdSeats*Camera*LDW*Warranty,Red,Automatic,Front-wheel drive (FWD),Other,"62,194",M3L1A1,2022-05-27,https://www.kijiji.ca/v-cars-trucks/city-of-to...
998,2019 Toyota RAV4 Limitée AWD,39995.,Used,2019,Limitée AWD,White,Automatic,4 x 4,Other,"39,657",J9L 1N1,2022-04-27,https://www.kijiji.ca/v-cars-trucks/gatineau/2...
999,2020 TOYOTA RAV4 XLE AWD PREMIUM,43995.,Used,2020,XLE AWD PREMIUM,Silver,Automatic,Other,Other,"23,710",N5A 6S4,2022-04-27,https://www.kijiji.ca/v-cars-trucks/stratford-...
1000,"2017 Toyota RAV4 LE LE, AWD, HEATED FRONT SEAT...",27644.,Used,2017,LE,Black,Automatic,All-wheel drive (AWD),Gasoline,"74,251",L9W 5S9,2022-05-27,https://www.kijiji.ca/v-cars-trucks/oakville-h...
1001,2019 Toyota RAV4 LE NO ACCIDENTS | AWD | WINTE...,34787.,Used,2019,LE,Red,Manual,All-wheel drive (AWD),Gasoline,"66,983",P1H 1X9,2022-05-27,https://www.kijiji.ca/v-cars-trucks/muskoka/20...
1002,2014 Toyota RAV4 Limited AWD,21277.,Used,2014,Limited AWD,White,Automatic,All-wheel drive (AWD),Gasoline,"138,298",M1M 1R5,2022-06-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1003,2012 Toyota RAV4 CLEAN CARFAX| 2 OWNER| BLUETO...,13999.,Used,2012,Other,Black,Automatic,4 x 4,Gasoline,"180,000",L5C 1T8,2022-04-27,https://www.kijiji.ca/v-cars-trucks/mississaug...
1004,2020 Toyota RAV4 SUNROOF R-CAM H-SEATS LOW KM...,42995.,Used,2020,SUNROOF R-CAM H-SEATS LOW KM WE FINANCE ALL CR...,Blue,Automatic,Front-wheel drive (FWD),Other,"7,126",N5W 3B9,2022-06-26,https://www.kijiji.ca/v-cars-trucks/london/202...
1005,2021 Toyota RAV4 Prime SE AWD Hybrid Driver As...,71998.,Used,2021,SE AWD Hybrid Driver Assists Sunroof Heated Se...,White,Automatic,All-wheel drive (AWD),Hybrid-Electric,"9,598",M2M 3V7,2022-05-27,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1006,2020 Toyota RAV 4 XLE,37500.,Used,2020,XLE,Grey,Automatic,All-wheel drive (AWD),Gasoline,"78,632",ON M1S,2022-06-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1007,2007 Toyota RAV4 4cyl with safety,6000.,Used,2007,base,Red,Automatic,All-wheel drive (AWD),,"250,000",N8A2W8,2022-06-25,https://www.kijiji.ca/v-cars-trucks/chatham-ke...
1008,Toyota RAV4 2015,19500.,Used,2015,,,,,,"170,000",K2A1C4,2022-06-24,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1009,2011 TOYOTA RAV4 + 4 WINTER TIRES INCLUDED,11800.,Used,2011,,Red,Automatic,Front-wheel drive (FWD),Gasoline,"182,000",Canada,2022-06-23,https://www.kijiji.ca/v-cars-trucks/markham-yo...
1010,Toyota Rav4 XLE Premium AWD,45000.,Used,2020,XLE,Black,Automatic,All-wheel drive (AWD),Gasoline,"23,500",Canada,2022-06-22,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
1011,2019 RAV4 XLE AWD,38000.,Used,2019,XLE,Blue,Automatic,All-wheel drive (AWD),Gasoline,"88,000","ron, ON",2022-06-21,https://www.kijiji.ca/v-cars-trucks/sudbury/20...
1012,2019 Toyota RAV4 LE,35897.,Used,2019,LE,Red,Automatic,All-wheel drive (AWD),Gasoline,"21,212",K9A 5V2,2022-06-26,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
1013,2020 Toyota RAV4 LE,31998.,Used,2020,LE,Grey,Automatic,Front-wheel drive (FWD),Other,"70,067",L8E 2W8,2022-07-18,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
1014,2018 Toyota RAV4 LE,31959.,Used,2018,LE,Red,Automatic,All-wheel drive (AWD),Gasoline,"61,686",K2G 1E3,2022-06-16,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
1015,2020 Toyota RAV4 TRAIL | 2.5L | AWD | CAM | L...,43950.,Used,2020,TRAIL | 2.5L | AWD | CAM | LEATHER | ROOF | 1O...,Blue,Automatic,All-wheel drive (AWD),Other,"47,163",L6L 5M9,2022-07-22,https://www.kijiji.ca/v-cars-trucks/oakville-h...
1016,2018 Toyota RAV4 LE,33995.,Used,2018,LE,Grey,Automatic,Front-wheel drive (FWD),Gasoline,"5,921",L5L 3R2,2022-06-24,https://www.kijiji.ca/v-cars-trucks/oakville-h...
1017,Toyota RAV4,10999.,Used,2008,,Green,Automatic,All-wheel drive (AWD),Gasoline,"230,000",M9C4A7,2022-06-21,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1018,Pre owned 2019 Toyota RAV4 LE 4dr All-Wheel D...,,Used,2019,,White,Automatic,4 x 4,Gasoline,"45,734",Canada,2022-06-21,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1019,Toyota,35000.,Used,2019,,Black,Automatic,,Gasoline,"68,456",Canada,2022-06-21,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1020,2018 Platinum Toyota Rav 4,33990.,Used,2018,Platinum,Blue,Automatic,All-wheel drive (AWD),Gasoline,"132,474",L2R3W8,2022-06-19,https://www.kijiji.ca/v-cars-trucks/st-cathari...
1021,Toyota RAV4,8000.,Used,2012,,,Automatic,Other,,"104,697",K4A 4H9,2022-06-19,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1022,Toyota rav 4,35000.,Used,2019,,Grey,Automatic,,,"89,000",L6Z3V6,2022-06-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
1023,Wanted: Wanted : Looking for 1996-2000 Toyota ...,4100.,Used,1998,,,Automatic,4 x 4,,"300,000",M2J 3H7,2022-06-18,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1024,Vehicles all makes and models.,52995.,Used,2021,XLE,White,Automatic,All-wheel drive (AWD),Hybrid-Electric,"11,000",J9J 1P3,2022-06-14,https://www.kijiji.ca/v-cars-trucks/gatineau/v...
1025,Wanted: Car SUV wanted,,Used,2019,,,Automatic,Front-wheel drive (FWD),,"35,000",ON K4A,2022-06-13,https://www.kijiji.ca/v-cars-trucks/ottawa/car...
1026,2010 Toyota Rav 4,18800.,Used,2010,,White,,,,"98,000",Canada,2022-06-12,https://www.kijiji.ca/v-cars-trucks/mississaug...
1027,2000 Toyota RAV 4 Great on Gas 4 cylinder,4000.,Used,2000,,Green,Automatic,All-wheel drive (AWD),Gasoline,"254,000",ON L5C,2022-06-11,https://www.kijiji.ca/v-cars-trucks/mississaug...
1028,Toyota RAV4 2015 LE,22500.,Used,2015,LE,Red,Automatic,Front-wheel drive (FWD),Gasoline,"85,786",K4A0W5,2022-06-07,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1029,Toyoya Rav 4 Sports,10300.,Used,2012,Sports,Grey,Automatic,4 x 4,,"275,000",ON L4X,2022-06-06,https://www.kijiji.ca/v-cars-trucks/mississaug...
1030,2017 Toyota RAV4 “Platinum” - ONE OWNER - low ...,35500.,Used,2017,Platinum (it’s the highest trim level),White,Automatic,All-wheel drive (AWD),Gasoline,"48,000",K1T0P5,2022-06-05,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
1031,Wanted: $$$ Looking to Buy Toyota Rav4 Car 200...,5000.,Used,2012,,,,,,"150,000",M8Y2P9,2022-06-05,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1032,2011 RAV 4 - 7 SEATER AWD,10000.,Used,2011,,White,Automatic,All-wheel drive (AWD),Gasoline,"175,000",P0M 3C0,2022-06-05,https://www.kijiji.ca/v-cars-trucks/sudbury/20...
1033,*NEW* 2022 Rav4 Prime XSE AWD Hybrid with Tech...,74000.,Used,2022,Prime XSE,Grey,Automatic,,,100,L8P4E8,2022-06-04,https://www.kijiji.ca/v-cars-trucks/hamilton/n...
1034,2019 Toyota RAV4 AWD XLE - $37000,,Used,2019,XLE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"15,000",M3A 2G2,2022-06-04,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1035,CONTACT ME TODAY TO BOOK YOUR 2022 TOYOTA! 647...,,Lease Takeover,2022,,White,Automatic,All-wheel drive (AWD),Gasoline,100,L7E 1S7,2022-06-03,https://www.kijiji.ca/v-cars-trucks/mississaug...
1036,RARE Limited 2009 4WD Toyota RAV4 Very Economi...,17999.,Used,2009,Limited,Red,Automatic,4 x 4,Gasoline,"230,000",ON K6A,2022-06-02,https://www.kijiji.ca/v-cars-trucks/ottawa/rar...
1037,2001 rav4 ** very clean**,3500.,Used,2001,,Red,Automatic,All-wheel drive (AWD),Gasoline,"238,000",ON L8E,2022-06-01,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
1038,Toyota Rav 4 2009 for sell.,9999.,Used,2009,,Black,Automatic,,Gasoline,"202,000",ON L9C,2022-05-31,https://www.kijiji.ca/v-cars-trucks/hamilton/t...
1039,2007 Toyota RAV4 AWD 4 cylinder automatic - lo...,11500.,Used,2007,4 cylinder,Silver,Automatic,All-wheel drive (AWD),Gasoline,"140,000",ON L8V,2022-05-30,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
1040,2015 Toyota RAV4 Limited 4DR AWD for Sale,23500.,Used,2015,AWD 4dr Limited,White,Automatic,All-wheel drive (AWD),Gasoline,"169,400",L6P 3V3,2022-05-29,https://www.kijiji.ca/v-cars-trucks/mississaug...
1041,Toyota 2019 Trail Model,36500.,Used,2019,Trail,Black,Automatic,All-wheel drive (AWD),,"56,000",ON L7A,2022-05-29,https://www.kijiji.ca/v-cars-trucks/oakville-h...
1042,2008 Toyota RAV4,10000.,Used,2008,Sport,Grey,Automatic,All-wheel drive (AWD),Gasoline,"258,000",Canada,2022-05-28,https://www.kijiji.ca/v-cars-trucks/cambridge/...
1043,Cars & Trucks in Ottawa,,,,,,,,,,,,https://www.kijiji.ca/v-cars-trucks/ottawa/201...

In [66]:
df.nunique()

title           653
price           563
condition         4
year             26
trim            283
colour           16
transmission      4
drivetrain        5
fuel              4
kilometers      768
postal_code     400
date_posted     162
url             924
dtype: int64

In [67]:
df['price'].value_counts()

          119
36995.     12
33995.     10
26990.      8
29995.      7
         ...
24798.      1
31590.      1
13950.      1
36498.      1
36500.      1
Name: price, Length: 563, dtype: int64

In [94]:
df[df['price'] == ""]

,title,price,condition,year,trim,colour,transmission,drivetrain,fuel,kilometers,postal_code,date_posted,url
67,2009 Toyota RAV4,,Used,2009,Other,Red,Automatic,4 x 4,Gasoline,"145,577",L9Y 0A5,2022-07-25,https://www.kijiji.ca/v-cars-trucks/barrie/200...
77,,,,,,,,,,,,,https://www.kijiji.ca/v-cars-trucks/city-of-to...
118,,,,,,,,,,,,,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
145,Select Location,,,,,,,,,,,,https://www.kijiji.ca/v-cars-trucks/cornwall-o...
147,Select Location,,,,,,,,,,,,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018,Pre owned 2019 Toyota RAV4 LE 4dr All-Wheel D...,,Used,2019,,White,Automatic,4 x 4,Gasoline,"45,734",Canada,2022-06-21,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1025,Wanted: Car SUV wanted,,Used,2019,,,Automatic,Front-wheel drive (FWD),,"35,000",ON K4A,2022-06-13,https://www.kijiji.ca/v-cars-trucks/ottawa/car...
1034,2019 Toyota RAV4 AWD XLE - $37000,,Used,2019,XLE,Silver,Automatic,All-wheel drive (AWD),Gasoline,"15,000",M3A 2G2,2022-06-04,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1035,CONTACT ME TODAY TO BOOK YOUR 2022 TOYOTA! 647...,,Lease Takeover,2022,,White,Automatic,All-wheel drive (AWD),Gasoline,100,L7E 1S7,2022-06-03,https://www.kijiji.ca/v-cars-trucks/mississaug...
1043,Cars & Trucks in Ottawa,,,,,,,,,,,,https://www.kijiji.ca/v-cars-trucks/ottawa/201...